<div id='map' class='position-relative'>

</div>
<div class='card w-100 hidden mx-auto position-absolute bottom-0' id='info'>
	<div class='card-header d-flex justify-content-between'>
		天氣資訊
		<button type='button' class='btn-close' id='info-close' aria-label='Close'></button>
	</div>
	<div class='card-body overflow-auto' id='info-message'>
	</div>
</div>