<div id='map' class='position-relative'>

</div>
<div class='card w-100 hidden mx-auto position-absolute bottom-0' id='info'>
	<div class='card-header d-flex justify-content-center' id='categories' data-location=''>
		<ul class='nav nav-pills w-100 d-flex justify-content-center'>
			<li>
				<div class='nav-link mx-1' data-bs-toggle='pill' id='weather-btn'>天氣資訊</div>
			</li>
			<li>
				<div class='nav-link mx-1' data-bs-toggle='pill' id='tide-btn'>潮汐資訊</div>
			</li>
			<li>
				<div class='nav-link mx-1' data-bs-toggle='pill' id='sea-btn'>海況資訊</div>
			</li>
		</ul>
		<button
			type='button'
			class='btn-close align-self-center flex-shrink-1'
			id='info-close'
			aria-label='Close'
		></button>
	</div>
	<div class='card-body overflow-auto' id='info-message'>
	</div>
</div>